*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #B23A3A;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-s1 {
    width: 100%;
}

img {
    float: left;
    width:  250px;
    height: 150px;
    object-fit: cover;
}